:host, :root {
   --in-content-page-background: #2e3440 !important;
   --in-content-page-color: #eceff4 !important;
   --in-content-deemphasized-text: #e5e9f0 !important;
   --in-content-box-background: #3b4252 !important;
   --in-content-border-color: #2e3440 !important;
   --in-content-border-hover: rgb(249, 249, 250);
   --in-content-border-invalid: rgb(255,132,139);
   --in-content-error-text-color: #FF9AA2;
   --in-content-button-background: #3b4252 !important;
   --in-content-button-background-hover: #4c566a !important;
   --in-content-button-background-active: #434c5e !important;
   --in-content-icon-color: var(--in-content-page-color) !important;
   --in-content-primary-button-text-color: rgb(43,42,51);
   --in-content-primary-button-background: #81a1c1 !important;
   --in-content-primary-button-background-hover: #88c0d0 !important;
   --in-content-primary-button-background-active: rgb(170,242,255);
   --in-content-danger-button-background: #bf616a !important;
   --in-content-danger-button-background-hover: #bf616ac6;
   --in-content-danger-button-background-active: #bf616aee;
   --in-content-table-background: var(--in-content-page-background) !important;
   --in-content-accent-color: var(--in-content-primary-button-background);
   --in-content-accent-color-active: var(--in-content-primary-button-background-hover);
   --in-content-link-color: var(--in-content-primary-button-background);
   --in-content-link-color-hover: var(--in-content-primary-button-background-hover);
   --in-content-link-color-active: var(--in-content-primary-button-background-active);
   --in-content-link-color-visited: var(--in-content-link-color);
   --card-outline-color: var(--grey-60);
   --dialog-warning-text-color: var(--red-40);
   scrollbar-color: #81a1c172 rgba(20,20,25,.3);
 }
 :host, :root {
   /* --in-content-page-color: rgb(21, 20, 26); */
   /* --in-content-page-background: #fff; */
   --in-content-text-color: var(--in-content-page-color);
   /* --in-content-deemphasized-text: rgb(91, 91, 102); */
   /* --in-content-box-background: #fff; */
   --in-content-box-background-odd: rgba(12, 12, 13, 0.05);
   --in-content-box-border-color: color-mix(in srgb, currentColor 41%, transparent);
   --in-content-box-info-background: #f0f0f4;
   --in-content-item-hover: color-mix(in srgb, var(--in-content-primary-button-background) 20%, transparent);
   --in-content-item-hover-text: var(--in-content-page-color);
   --in-content-item-selected: var(--in-content-primary-button-background);
   --in-content-item-selected-text: var(--in-content-primary-button-text-color);
   --in-content-icon-color: rgb(91,91,102);
   --in-content-accent-color: #0a84ff;
   --in-content-accent-color-active: #0060df;
   --in-content-border-hover: var(--grey-90-a50);
   --in-content-border-invalid: var(--red-50);
   --in-content-border-color: #d7d7db;
   --in-content-error-text-color: #c50042;
   --in-content-link-color: var(--blue-60);
   --in-content-link-color-hover: var(--blue-70);
   --in-content-link-color-active: var(--blue-80);
   --in-content-link-color-visited: var(--blue-60);
   --in-content-button-text-color: var(--in-content-text-color);
   --in-content-button-text-color-hover: var(--in-content-text-color);
   --in-content-button-text-color-active: var(--in-content-button-text-color-hover);
   --in-content-button-background: rgba(207,207,216,.33);
   --in-content-button-background-hover: rgba(207,207,216,.66);
   --in-content-button-background-active: rgb(207,207,216);
   --in-content-button-border-color: transparent;
   --in-content-button-border-color-hover: transparent;
   --in-content-button-border-color-active: var(--in-content-button-border-color-hover);
   --in-content-primary-button-text-color: #dedee9;
   --in-content-primary-button-text-color-hover: var(--in-content-primary-button-text-color);
   --in-content-primary-button-background: #0061e0;
   --in-content-primary-button-background-hover: #0250bb;
   --in-content-primary-button-background-active: #053e94;
   --in-content-primary-button-border-color: transparent;
   --in-content-primary-button-border-hover: transparent;
   --in-content-danger-button-background: #e22850;
   --in-content-danger-button-background-hover: #c50042;
   --in-content-danger-button-background-active: #810220;
   --in-content-focus-outline-color: var(--in-content-primary-button-background);
   --in-content-table-background: #f8f8fa;
   --in-content-table-border-color: var(--in-content-box-border-color);
   --in-content-table-header-background: var(--in-content-primary-button-background);
   --in-content-table-header-color: var(--in-content-primary-button-text-color);
   --in-content-sidebar-width: 240px;
   --dialog-warning-text-color: var(--red-60);
   --checkbox-border-color: var(--in-content-box-border-color);
   --checkbox-unchecked-bgcolor: var(--in-content-button-background);
   --checkbox-unchecked-hover-bgcolor: var(--in-content-button-background-hover);
   --checkbox-unchecked-active-bgcolor: var(--in-content-button-background-active);
   --checkbox-checked-bgcolor: var(--in-content-primary-button-background);
   --checkbox-checked-color: var(--in-content-primary-button-text-color);
   --checkbox-checked-border-color: transparent;
   --checkbox-checked-hover-bgcolor: var(--in-content-primary-button-background-hover);
   --checkbox-checked-active-bgcolor: var(--in-content-primary-button-background-active);
   --blue-40: #88c0d0;
   --blue-50: #81a1c1;
   --blue-60: #5e81ac;
   --blue-70: #345da4;
   --blue-80: #1e336a;
   --grey-30: #d8dee9;
   --grey-60: #4a4a4f;
   --grey-90-a10: rgba(76, 86, 106, 0.1);
   --grey-90-a20: rgba(76, 86, 106, 0.2);
   --grey-90-a30: rgba(76, 86, 106, 0.3);
   --grey-90-a50: rgba(76, 86, 106, 0.5);
   --grey-90-a60: rgba(76, 86, 106, 0.6);
   --green-50: #a3be8c;
   --green-60: #659260;
   --green-70: #4c834a;
   --green-80: #006504;
   --green-90: #215226;
   --orange-50: #d08770;
   --red-40: #bf616a;
   --red-50: #cd4a66;
   --red-60: #d70022;
   --red-70: #a72e38;
   --red-80: #532021;
   --red-90: #371a19;
   --yellow-50: #ebcb8b;
   --yellow-60: #8f833e;
   --yellow-60-a30: rgba(215, 182, 0, 0.3);
   --yellow-70: #a47f00;
   --yellow-80: #715100;
   --yellow-90: #3e2800;
   --shadow-10: 0 1px 4px var(--grey-90-a10);
   --shadow-30: 0 4px 16px var(--grey-90-a10);
   --card-padding: 16px;
   --card-shadow: var(--shadow-10);
   --card-outline-color: var(--grey-30);
   --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
   accent-color: var(--in-content-accent-color);
   color-scheme: light dark;
 }
 :root {
   color: -moz-DialogText;
   font: message-box;
 }
 :root {
   --default-focusring-width: 2px;
   --default-focusring: var(--default-focusring-width) dotted;
   --focus-outline-width: 2px;
   --focus-outline-color: AccentColor;
   --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
   --focus-outline-inset: calc(-1 * var(--focus-outline-width));
   --focus-outline-offset: 2px;
   --arrowpanel-background: #2e3440;
   --arrowpanel-color: FieldText;
   --arrowpanel-border-color: ThreeDShadow;
   --arrowpanel-border-radius: 8px;
   --arrowpanel-padding: 16px;
   --arrowpanel-dimmed: color-mix(in srgb, currentColor 17%, transparent);
   --arrowpanel-dimmed-further: color-mix(in srgb, currentColor 30%, transparent);
   --panel-description-color: GrayText;
   --panel-disabled-color: GrayText;
   --popup-notification-body-width: calc(31em - calc(2 * var(--arrowpanel-padding)));
   --toolbarbutton-icon-fill: currentColor;
   /* --toolbar-field-background-color: Field; */
   --toolbar-field-background-color: #2e3440 !important;
   --toolbar-field-color: FieldText;
   --toolbar-field-border-color: ThreeDShadow;
   --toolbar-field-focus-background-color: Field;
   --toolbar-field-focus-color: FieldText;
}
@-moz-document url("about:home"), url("about:newtab") {
    body {
      background-image: url("img/nord-peaks.png") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      background-attachment: fixed !important;
   }
}

@-moz-document url("about:preferences"), url("about:config"), url("about:addons") {
	body,
	addon-page-header,
   .main-content {
		background: #2e3440 !important;
  	}
}
 
@-moz-document url("about:memory") {
   div:not([class="opsRow"]) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-radius: 5px;
   }
   .opsRow,
   .section {
      background: var(--in-content-page-background) !important;
      color: var(--in-content-page-color) !important;
      padding: 20px !important;
   }
   .opsRowLabel {
      padding: 10px;
   }
   button {
      background: var(--in-content-button-background) !important;
      padding: 10px; 
      margin: 5px !important;
      border: 1px solid var(--in-content-button-border-color) !important;
      border-radius: 5px;
   }
   button:hover {
      background: var(--in-content-button-background-hover) !important;
      border: 1px solid var(--in-content-button-border-color-hover) !important;

   }
   button:active {
      background: var(--in-content-button-background-active) !important;
      border: 1px solid var(--in-content-button-border-color-active) !important;

   }
}