
button {
    background: #2e3440;
    border: none;
    box-shadow: none;
    color: #d8dee9;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
label, image {
    padding: 10px;
}
button:hover {
    transition: background-color 0.125s ease-in-out;
    background-color: #4c566a;
}

button:focus {
    background-color: #3b4252;
    border: 1px solid #5e81ac;
}

#searchbox {
    background: none;
    border-color: #e5e9f0;
    color: #eceff4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#separator {
    background-color: rgba(200, 200, 200, 0.5);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px
}

#description {
    margin-bottom: 20px;
}
