@import "../includes/cascade-colours.css";
:root {
  /* Nord Theme Colours */
  /* Polar Night: Darkest */
  --nord0: "#2e3440";
  --nord1: "#3b4252";
  --nord2: "#434c5e";
  /* # Polar Night: Lightest */
  --nord3: "#4c566a";
  /* # Snow Storm: Darkest */
  --nord4: "#d8dee9";
  --nord5: "#e5e9f0";
  /* Snow Storm: lightest */
  --nord6: "#eceff4";
  /* Frost: Turquoise */
  --nord7: "#8fbcbb";
  /* Frost: Light Blue */
  --nord8: "#88c0d0";
  /* Frost Blue */
  --nord9: "#81a1c1";
  /* Frost: darker blue/purple */
  --nord10: "#5e81ac";
  /* Aurora: red */
  --nord11: "#bf616a";
  /* Aurora: orange */
  --nord12: "#d08770";
  /* Aurora: yellow */
  --nord13: "#ebcb8b";
  /* Aurora: green */
  --nord14: "#a3be8c";
  /* Aurora: pink */
  --nord15: "#b48ead";
  /* These colours are (mainly) used by the
   Container Tabs Plugin */
  --uc-identity-colour-blue: var(--nord9);
  --uc-identity-colour-turquoise: var(--nord7);
  --uc-identity-colour-green: var(--nord14);
  --uc-identity-colour-yellow: var(--nord13);
  --uc-identity-colour-orange: var(--nord12);
  --uc-identity-colour-red: var(--nord11);
  --uc-identity-colour-pink: var(-nord15);
  --uc-identity-colour-purple: var(--10);

  /*  Cascades main Colour Scheme */
  --uc-base-colour: var(--nord0);
  --uc-selected-colour: var(--nord1);
  --uc-highlight-colour: var(--nord4);
  --uc-inverted-colour: var(--nord6);
  --uc-muted-colour: var(--nord4);
  --uc-accent-colour: var(--uc-identity-colour-purple);
}
:host,
:root {
  --shadow-10: 0 1px 4px rgba(0, 0, 0, 0.54);
  --shadow-30: 0 4px 16px rgba(0, 0, 0, 0.47);
  --card-padding: 16px;
  --card-shadow: var(--shadow-10);
  --card-outline-color: var(--nord1);
  --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
  accent-color: var(--uc-accent-colour);
  --in-content-page-background: var(--nord0) !important;
  --in-content-page-color: var(--nord6) !important;
  --in-content-deemphasized-text: var(--nord5) !important;
  --in-content-box-background: var(--nord1) !important;
  --in-content-border-color: var(--nord4) !important;
  --in-content-border-hover: var(--nord5) !important;
  --in-content-border-invalid: var(--nord11) !important;
  --in-content-error-text-color: var(--nord11) !important;
  --in-content-button-background: var(--nord1) !important;
  --in-content-button-background-hover: var(--nord3) !important;
  --in-content-button-background-active: var(--nord2) !important;
  --in-content-icon-color: var(--in-content-page-color) !important;
  --in-content-primary-button-text-color: var(
    --in-content-page-color
  ) !important;
  --in-content-primary-button-background: var(
    --in-content-button-background
  ) !important;
  --in-content-primary-button-background-hover: var(
    --in-content-button-background-hover
  ) !important;
  --in-content-primary-button-background-active: var(
    --in-content-button-background-active
  ) !important;
  --in-content-danger-button-background: var(--nord11) !important;
  --in-content-danger-button-background-hover: "#bf616ac6";
  --in-content-danger-button-background-active: "#bf616aee";
  --in-content-table-background: var(--in-content-page-background) !important;
  --in-content-accent-color: var(--in-content-primary-button-background);
  --in-content-accent-color-active: var(
    --in-content-primary-button-background-hover
  );
  --in-content-link-color: var(--nord4);
  --in-content-link-color-hover: var(--nord6);
  --in-content-link-color-active: var(--nord5);
  --in-content-link-color-visited: var(--nord10);
  --card-outline-color: var(--nord11);
  --dialog-warning-text-color: var(--nord1);
  scrollbar-color: var(--nord4) !important;
  --in-content-text-color: var(--in-content-page-color) !important;
  --in-content-box-background-odd: var(--in-content-page-background) !important;
  --in-content-box-border-color: color-mix(
    in srgb,
    currentColor 41%,
    transparent
  );
  --in-content-box-info-background: var(--nord1) !important;
  --in-content-item-hover: color-mix(
    in srgb,
    var(--in-content-primary-button-background) 20%,
    transparent
  ) !important;
  --in-content-item-hover-text: var(--in-content-page-color) !important;
  --in-content-item-selected: var(
    --in-content-primary-button-background
  ) !important;
  --in-content-item-selected-text: var(
    --in-content-primary-button-text-color
  ) !important;
  --in-content-accent-color: var(--nord4);
  --in-content-accent-color-active: var(--nord4);
  --in-content-focus-outline-color: var(--in-content-primary-button-background);
  --in-content-table-border-color: var(--in-content-page-color);
  --in-content-table-header-background: var(
    --in-content-primary-button-background
  );
  --in-content-table-header-color: var(--in-content-primary-button-text-color);
  --in-content-sidebar-width: 240px;
  --dialog-warning-text-color: var(--red-60);
  --checkbox-border-color: var(--in-content-box-border-color);
  --checkbox-unchecked-bgcolor: var(--in-content-button-background);
  --checkbox-unchecked-hover-bgcolor: var(--in-content-button-background-hover);
  --checkbox-unchecked-active-bgcolor: var(
    --in-content-button-background-active
  );
  --checkbox-checked-bgcolor: var(--in-content-primary-button-background);
  --checkbox-checked-color: var(--in-content-primary-button-text-color);
  --checkbox-checked-border-color: transparent;
  --checkbox-checked-hover-bgcolor: var(
    --in-content-primary-button-background-hover
  );
  --checkbox-checked-active-bgcolor: var(
    --in-content-primary-button-background-active
  );
  /* #color-scheme: light; */
  --default-focusring-width: 2px;
  --default-focusring: var(--default-focusring-width) dotted;
  --focus-outline-width: 2px;
  --focus-outline-color: AccentColor;
  --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
  --focus-outline-inset: calc(-1 * var(--focus-outline-width));
  --focus-outline-offset: 2px;
  --arrowpanel-background: var(--nord0);
  --arrowpanel-color: FieldText;
  --arrowpanel-border-color: ThreeDShadow;
  --arrowpanel-border-radius: 8px;
  --arrowpanel-padding: 16px;
  --arrowpanel-dimmed: color-mix(in srgb, currentColor 17%, transparent);
  --arrowpanel-dimmed-further: color-mix(
    in srgb,
    currentColor 30%,
    transparent
  );
  --panel-description-color: GrayText;
  --panel-disabled-color: GrayText;
  --popup-notification-body-width: calc(
    31em - calc(2 * var(--arrowpanel-padding))
  );
  --toolbarbutton-icon-fill: currentColor;
  /* --toolbar-field-background-color: Field; */
  --toolbar-field-background-color: var(--nord0);
  --toolbar-field-color: FieldText;
  --toolbar-field-border-color: ThreeDShadow;
  --toolbar-field-focus-background-color: Field;
  --toolbar-field-focus-color: FieldText;
}
