window {
	background-color: rgba(--wofi-rgb-color0,1);
	font-family: iosevka;
	transition: background-color 2s ease-in-out;
    position: top;
}
#input image {
	color: rgba(0,0,0,0)
}
#input {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	box-shadow: 1px 1px 1px #3b4252;
	background-color: --wofi-color0;
	border: 2px solid --wofi-color3;
	border-radius: 0px;
	transition: 0.5s ease-in-out;
    padding: 10px 0;
}
#input:focus {
	background-color: rgba(--wofi-rgb-color4,0.1);
	margin-left: 20px;
	margin-right: 20px;
	transition: 0.25s ease-in-out;
}
label {
	color: --wofi-color13;
	/* transition: 0.5s ease-in-out; */
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
}
#text:selected, #entry:selected {
    color: #d8dee9;
    background-color: #3b4252;
    border: none;
}


#outer-box {
	border: 2px solid --wofi-color2;
}