@-moz-document url("about:home"), url("about:newtab") {
    body {
      background-image: url("img/nord-peaks.png") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      background-attachment: fixed !important;
   }
}

@-moz-document url("about:preferences"), url("about:config"), url("about:addons") {
	body,
	addon-page-header {
		background: #3b4252;
  	}
}

